{% extends 'basic_app/base.html' %}

{% block body_block %}
    <div class="jumbotron">
        <h1 class="display-4">Django Level Five</h1>
        <p class="lead">Welcome to User-Registration</p>
        <hr class="my-4">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio eius id ullam totam mollitia impedit sit nisi voluptatum iste perspiciatis! Earum iste provident ipsam dolores, dolorem nam officiis. Molestias, facilis.</p>
    </div>

    
{% endblock body_block %}


    